BasedOnStyle: Google
IndentWidth: 2
ContinuationIndentWidth: 4
ColumnLimit: 80
PointerAlignment: Left
DerivePointerAlignment: false
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
BinPackParameters: true
BinPackArguments: true
BreakBeforeBraces: Attach